<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Contract Details</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Contract Details</h1>
		<p>
			Numero Assure: <span th:text="${numeroAssure}"></span>
		</p>
		
		<p>
			Numero Produit: <span th:text="${numeroProduit}"></span>
		</p>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>
