<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- Bootstrap CSS -->
<link href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Bootstrap JavaScript -->
<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<h1>Contract Details</h1>
		<p>
			Numero Assure: <span th:text="${numeroAssure}"></span>
		</p>
	</div>
	<div>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th colspan="2">Nos Produits</th>
					</tr>
					<tr>
						<th th:text="'Numero de Produit'"></th>
						<th th:text="Libelle"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="produit : ${produits}" class="col-md-4 my-1">
						<td th:text="${produit.libelle}"></td>
						<td><a
							th:href="@{|/affecterNumeroProduit/${numeroAssure}/${produit.numeroProduit}|}"
							th:text="${produit.numeroProduit}"
							th:attr="data-numero-assure=${numeroAssure}"
							onclick="affecterNumeroProduit(this); return false;"> </a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<script>
    function affecterNumeroProduit(linkElement) {
        console.log('affecterNumeroProduit function executed');

        // Retrieve the numeroAssure value from the data attribute
        const numeroAssure = linkElement.getAttribute('data-numero-assure');
        console.log('numeroAssure:', numeroAssure);

        // Retrieve the numeroProduit value from the link text
        const numeroProduit = linkElement.innerText;
        console.log('numeroProduit:', numeroProduit);

        // Construct the URL with proper interpolation
        const url = `/affecterNumeroProduit/${numeroAssure}/${numeroProduit}`;
        console.log('URL:', url);

        fetch(url)
        .then(response => {
            if (response.ok) {
                // Contract updated successfully, redirect to a confirmation page or another URL
                window.location.href = `/affecterNumeroProduit/${numeroAssure}/${numeroProduit}`; // Redirect to the same URL
            } else {
                // Handle errors, if any
            }
        })
        .catch(error => {
            // Handle network or other errors
        });
    }
</script>
</body>
</html>
